p, h2, h4 {
    text-align: center;
}

#album1{
   background-color: #ffb7f4; 
    padding: 20px;
    border-radius: 10px;
}

#album2{
   background-color: #1562b3; 
    padding: 20px;
    border-radius: 10px;
}

#album3{
   background-color: #a6b4c2; 
    padding: 20px;
    border-radius: 10px;
}
#xd{
background-color: antiquewhite;
padding: 20px;
border-radius: 50px;
}

.nav{
    display: block;
    padding: 30px;
}

body {
    background-color: #ffffff
    text-align: center;
    padding-top: 50px;
}