/* ESTILOS GENERALES */
body {
    background-color: #ffffff;
    padding-top: 50px;
    text-align: center;
}

p, h2, h4 {
    text-align: center;
}
hr{
    border: 1px solid #60adff;
}


/* NAVEGACIÓN */
.nav-principal {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    border-radius: 10px;
    background-color: #60adff; 
    padding: 10px 10px 10px; 
}

.nav-secundario {
    display: flex;
    gap: 20px; 
    justify-content: center; 
    border-radius: 10px;
    background-color: #60adff; 
    padding: 10px 10px 10px; 
}


/* 3. SECCIONES DE ÁLBUMES */
#album1 {
    background-color: #ffb7f4; 
    padding: 20px;
    border-radius: 10px;
}

#album2 {
    background-color: #1562b3; 
    padding: 20px;
    border-radius: 10px;
}

#album3 {
    background-color: #a6b4c2; 
    padding: 20px;
    border-radius: 10px;
}


/* 4. OTROS */
#xd {
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 50px;
}